@import "../components/UI/Button/Button.css";
@import "../components/sections/ProjectList/ProjectList.css";
@import "../components/sections/Toolbar/Toolbar.css";
@import "./components/section.css";
@import "./components/image.css";
@import "./components/text.css";
@import "../components/pages/AuthPage/AuthRegAnimation.css";
@import "../components/sections/TextEditor/Comment/Comment.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  color: white;
}
